BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 80
# UseTab: Always
# BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
# AlignTrailingComments: true
# AllowShortFunctionsOnASingleLine: true
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: true
FixNamespaceComments: true
IncludeBlocks: Regroup
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
#   AfterStruct: false
#   AfterEnum: true
  AfterControlStatement: false
  AfterFunction: true
#   SplitEmptyFunction: false
# 
# 
# 
# DerivePointerBinding: true